extends layout

block content
    h1= title
    table(class="table",id="high-score")
        tr
            th Username
            th Score
        each score in scores
            tr(id=score.user._id)
                td= score.user.username
                td= score.score
    script(src='/socket.io/socket.io.js')
    script.
        var socket = io();
        socket.on("player join", function(msg) {
                var tr = $("#high-score").append($("<tr>").attr("id",msg.score.user._id));
                $("#"+msg.score.user._id).append($("<td>").text(msg.score.user.username));
                $("#"+msg.score.user._id).append($("<td>").text(msg.score.score));
            });