body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

#game-body {
    padding: 20px;
}

.btn-group {
    display: table;
    margin: 0 auto;
}

#scoreboard {
    max-height: 400px;
    overflow-y: auto;
}